<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Background</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <article class="card">
      <div class="card-image">
        <button type="button" class="like-button" aria-label="Like this property"></button>
        <!-- <img/> 대신 background-image를 활용해서 스타일 해보세요!  -->
        <!-- <img src="./assets/img-house.jpg" alt="Seoul AirBnB, hosted by Woohyeon Roh" /> -->
      </div>

      <div class="card-content">
        <header class="card-header">
          <div class="property-type">
            <strong class="plus-badge">Plus</strong>
            <span>Entire apartment</span>
          </div>

          <div class="property-rate">
            <strong aria-label="Review: 4.97">
              4.97
            </strong>
            <span aria-label="Total 203 reviews">(203)</span>
          </div>
        </header>

        <h1 class="card-title">
          Unwind in a Bright Space with Rustic Accents
        </h1>

        <div class="card-detail">
          <dl class="property-detail">
            <div>
              <dt class="sr-only">Rooms and beds</dt>
              <dd>
                <span>2 guests</span>
                <span>1 bedroom</span>
                <span>1 bed</span>
                <span>1 bath</span>
              </dd>
            </div>

            <div>
              <dt class="sr-only">Amenities</dt>
              <dd>
                <span>Wifi</span>
                <span>Kitchen</span>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </article>
  </body>
</html>
