@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
  margin: 0;
  box-sizing: border-box;
  letter-spacing: -0.03em;
}

html {
  font-family: 'SpoqaHanSans';
  font-size: 16px;
  line-height: 1.5;
  color: #333e47;
}

body {
  width: 100%;
  max-width: 640px;
  min-height: 100vh;
  padding: 80px 0;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 3px 0;
  margin-bottom: .5em;
  color: #212527;
  line-height: 1.2;
}

p {
  margin-bottom: 1.5rem;
}
