<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dribbble Card</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <article class="card">
      <div class="card-image">
        <a href="#">
          <h1 class="card-title">
            Shortlisted Website
          </h1>
          <img src="./assets/img-work.jpg" alt="" />
        </a>
      </div>
      <div class="card-content">
        <div class="card-user">
          <a href="#">
            <div class="user-image">
              <img src="./assets/img-user.jpg" alt="" />
            </div>
            <h3 class="user-name">Decode Studio™️</h3>
          </a>
        </div>
        <dl class="card-stats">
          <div class="stats-comments">
            <dt>
              Comments
            </dt>
            <dd>
              17
            </dd>
          </div>
          <div class="stats-likes">
            <dt>
              Liked
            </dt>
            <dd>
              203
            </dd>
          </div>
        </dl>
      </div>
    </article>
  </body>
</html>
