<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Float 1</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <ul>
      <li>
        <a href="#">Summary</a>
      </li>
      <li>
        <a href="#">Emails</a>
      </li>
      <li>
        <a href="#">Files</a>
      </li>
      <li>
        <a href="#">Mentions</a>
      </li>
    </ul>
  </body>
</html>
