<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Position 3</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <aside class="modal">
      <h1 class="modal-title">Manage Subscriptions</h1>
      <p class="modal-desc">
        You can follow the discussion on @kimbug without to leave a comment. Cool, huh? Just enter your email address in
        the form here below and you are all set.
      </p>
      <div class="input-group">
        <input type="email" placeholder="Your email" />
        <button type="button">Subscribe</button>
      </div>
      <button type="button" class="close-button" aria-label="Close the modal"></button>
    </aside>
  </body>
</html>
