* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.01em;
}

a {
  text-decoration: none;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  margin: 0 auto;
  background-image: url("./assets/img-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.landing-title {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: right;
}

.landing-title strong {
  display: block;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.01em;
}

.landing-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 52px;
  border: 2px solid #fff;
  border-radius: 16px;
  line-height: 1;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.landing-link:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.banner-title a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  line-height: 1;
  font-size: 15px;
  color: #1f2d3d;
  background-color: #ffc82c;
}

@media screen and (min-width: 768px) {
  .landing {
    align-items: center;
  }

  .landing-title {
    margin-bottom: 32px;
    font-size: 50px;
    text-align: center;
  }

  .banner {
    top: 0;
    bottom: auto;
  }

  .banner-title a {
    font-size: 18px;
    height: 80px;
  }
}
