<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slack Messages</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="message">
      <div class="message-user">
        <a href="#">
          <img src="./assets/img-user.jpg" alt="Mia Khumalo" />
        </a>
      </div>
      <div class="message-content">
        <div class="message-info">
          <strong class="message-sender">
            <a href="#">Mia Khumalo</a>
          </strong>
          <div class="message-timestamp">
            09:00
            <span class="tooltip">
              Today at 09:00:30
            </span>
          </div>
        </div>
        <p class="message-text">
          Good morning everyone
        </p>
      </div>
    </div>
  </body>
</html>
